/* Add CSS styling here */
body{
    border: 0px;
    width: 100%;
    height:100%;
  }
 
  .main-header{
    text-align: center;
    background: #4A8AA9;
    padding: 10px;
    height:100%;
  }
  .main-header header{
    font-family: serif;
    font-size: 15px;
    background: burlywood;
    padding: 6px
  }
  .main-header nav a{
    text-decoration: none;
    border: 1px solid black;
    margin: 0;
    padding: 5px;
    color: black;
    background: burlywood;
    position: relative;
    top:30px:
  }
  .main-header nav a:hover{
    color: lightgreen;
    background: dimgrey;
  }
  
  .main-header h1{
    font-size: 30px;
    font-style: italic;
    padding: 0;
    color: lightsteelblue
  }
  
  .main-header h1:hover{
    text-transform: uppercase;
    transform: rotateY(50deg);
    transform-style: preserve;
  }
  .main-header h2{
    font-family: monospace;
    font-size: 23px;
    padding: 5px;
    color: lightgrey;
  }
  .main-header h2:hover{
   text-transform: lowercase;
   text-shadow: 2px 2px crimson;
  }
  .main-header p{
    font-size: 18px;
  }
  
  .banner{
    position: relative;
    margin: 0 auto;
  }
  .banner img{
    width: 100%;
    height: 350px;
    padding:;
  }
  .heading{
    color: burlywood;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 5px 10px lightgreen;
  }
  .heading:hover{
    transform: skewY(10deg);
    text-transform: uppercase;
    text-shadow: 2px 2px red;
    
  }
  
  .last-section{
    display: flex;  
    flex-direction:row;
    height: 100%;
    padding: 1px;
  }
  .last-section img{
      width: 370px;
      height: 300px;
      padding:0px;
      position: relative;
      bottom: 6px;
  }
  .last-section p{
      width:300px;
      height: 95%;
      font-size: 18px;
      font-family: sans-serif;
     text-align: center;
     padding: 10px;
     margin: 2px; 
     position: relative;
     bottom: 9px;
    }
  
    footer {
        width: 100%;
        height: 100px;
        background: grey;
        position: relative;
        bottom: 7px;
    }
     
  .footer-class{
  background-color: white;
  text-decoration: none;
  color: black;
  position: relative;
  left: 580px;
  top: 40px;
  padding: 5px 20px ; 
  }
  .footer-class:hover{
      background-color: burlywood;
      
  }
  @media screen and (max-width: 800px){
    body{
      width: 100vw;
      height: 100vh;
      margin:0px;
    }
    .main-header header{
      font-family: serif;
      font-size: 1.5em;
      background: lightseagreen;
    }
    .main-header h1{
      font-size: 3em;
      font-family: 'Times New Roman', Times, serif;
      padding: 0;
      color: lightslategray
    }
    .banner img{
      width: 100vw;
      
    }
    .last-section{
      width: 100vw;
      height: 20vh;
      flex-direction: row;
      flex-wrap: unset;

    }
    .last-sectopm img{
      width:60vw;
      height:10vh;
      object-fit: cover;
    }
    .last-section p{
      width: 40%;
      height:10vh;
      font-size: 0.8em;
      padding: 9px;
      margin: 4px;
      position: relative;
      bottom: 13px;
      justify-content: flex-start;
      font-style: normal;
      
      
    }
    footer{
      width: 100%;
    }
    .footer-class{
     position: relative;
     left: 350px;
     top: 40px;
     padding: 5px 20px ; 
     background-color: dimgray;
    }
  }

  @media screen and (max-width: 500px){
    body{
      width: 100%;
      margin:0px;
      
    }
    .banner img{
      width: 100%;
      height: 20%;
      
    }
    .last-section{
      width: 100%;
      height: 100%;
      flex-direction: column;
     
      
    }
    .last-sectopm img{
      width:100%;
      height:60%;
    }
    .last-section p{
      width: 100%;
      height:30%;
      font-size: 1.2em;
      align-items: center;
      padding: 10px;
      margin: 2px;
      position: relative;
      bottom: 1px;
      justify-content: center;
    }
    footer{
      width: 100%;
    }
    .footer-class{
     position: relative;
     left: 150px;
     top: 40px;
     padding: 5px 20px ;
    }
  }
